.container {
  
}

.header {
  height: 64px;
  background-color: #2A282E;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.input-view {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #996633;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
  position: fixed;
  left: 0;
  right: 0;
  top: 64px;
}

.input-view-bg {
  background-color: black;
  opacity: 0.1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10;
}

.input-field {
  border: 1px solid gray;
  flex-grow: 1;
  height: 30px;
}

.header-button {
  width: 60px;
  margin-left: 8px;
  height: 35px;
  background: #996633;
  color: white;
  font-size: 15px;
}

.to-do-list {
  position: fixed;
  top: 124px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.to-do-item {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background-color: bisque;
  margin-bottom: 12px;
}

.item-left {
  flex-grow: 1;
}

.item-title {
  color: black;
  font-size: 17px;
  font-weight: bold;
  /* background-color: gray; */
}

.item-content {
  margin-top: 12px;
  /* background-color: gray; */
}

.item-delete {
  width: 60px;
  height: 30px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-button {
  position: fixed;
  left: 20px;
  right: 20px;
  top: 20px;
  height: 44px;
  background-color: orange;
}
